@font-face {
  font-family: 'brownLLRegular';
  src: url('fonts/BrownLL-Regular.woff2');
}

a{
  color: black !important;
  font-size: 18px;
}

.banner-text{
  position: absolute;
  color: white;
  left: 100px;
  top: 400px;
}

.banner-text > h1{
  font-size: 60px;
}

.banner-text > h3{
  font-size: 28px;
  line-height: 1.5;
  margin-top: 10px;
}

.shop-now-banner{
  background-color: #181800;
  color: white;
  border-radius: 0;
  width: 250px;
  height: 80px;
  font-size: 24px;
  position: relative;
  top: 50px;
}